# /etc/systemd/system/rp-api.service

[Unit]
Description=Run the ranked-pick-api server

[Service]
EnvironmentFile=/etc/ranked-pick-api/env
ExecStart=rp-api

[Install]
WantedBy=multi-user.target
